.markdown-preview {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.markdown-preview ul {
    list-style: disc;
}

.markdown-preview ul ul {
    list-style: circle;
}

.markdown-preview ul ul ul {
    list-style: square;
}

.markdown-preview ol {
    list-style: decimal;
}

.markdown-preview ol ol,
.markdown-preview ul ol {
    list-style-type: lower-roman;
}

.markdown-preview ol ol ol,
.markdown-preview ol ul ol,
.markdown-preview ul ol ol,
.markdown-preview ul ul ol {
    list-style-type: lower-alpha;
}

.markdown-preview .newpage,
.markdown-preview .pagebreak {
    page-break-before: always;
}

.markdown-preview pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

.markdown-preview pre.line-numbers>code {
    position: relative;
}

.markdown-preview pre.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 1em;
    font-size: 100%;
    left: 0;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.markdown-preview pre.line-numbers .line-numbers-rows>span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.markdown-preview pre.line-numbers .line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right;
}

/* Additional styles continue here... */
